@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is my first MVC Application for MIS 4200. This application will demonstrate the capabilities of MCV through Visual Studios.</p>
