@{
    ViewBag.Title = "My Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address style="color:orchid">
    121 N Congress St.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.409.1370
</address>

<address>
    <div class="well"> Support: <a href="mailto:js960315@ohio.edu">js960315@ohio.edu</a><br /> </div>   
</address>