@{
    ViewBag.Title = "My Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    121 N Congress St.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.409.1370
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:js960315@ohio.edu">Support@example.com</a><br />
</address>