@{
    ViewBag.Title = "Jessica Stauss";
}

<div class="jumbotron" style= "color:green">

    <h1>Jessica Stauss</h1>
    <p class="lead">A student studying at Ohio University's College of Business aiming for a degree in Business Analytics and Management Information Systems. Jessica plans to graduate in the year 2020.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

        <select>
            <option> "choose an option"</option>
            <option> "Actor"</option>
            <option> "Director"</option>
            <option> "Movie" </option>





        </select>


        <h2>Academics</h2>
        <p>
            Jessica has been studying in the College of Business since freshman year of college. She started out an undecided
            business major but now has declared an AIS double-major. On top of that, she has conversational Spanish-speaking skills.
            In the future, Jessica hopes to graduate into a job where she can work with her love of analytics and the exciting challenge
            of coding through information systems.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work Experience</h2>
        <p>Jessica is currently working for the AIS Department at Ohio University while she focuses on her studies. In the past,
        she worked for a small, privately-owned company called Loder's Shake Shoppe as an associate for three years and a manager
        for the last two. Jessica is very excited to jump into AIS after graduation.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        @Html.ActionLink("Actors", "Index", "Actors")
        <br />
        @Html.ActionLink("Movies","Index", "Movies")
        <br />
        @Html.ActionLink("Directors", "Index", "Directors")

    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>In Jessica's spare time, she enjoys spending time outside with her dog Roxy and kicking the soccer ball around with her friends
        and family. She grew up playing soccer, tennis, and softball so she enjoys playing sports. In her leisurely time, Jessica loves to
        read novels and watch Netflix with her best friend Casey.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>